################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/Library
/Temp
/UnityPackageManager
/ProjectSettings
/.vs
